body,html{
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
}

#parent{
    height: 400px;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}